ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li {
  float: left;
  position: relative;
  right: -890px;
  margin: 3rem;
}


ul li a:hover {
  background-color: #111111;
}

body {
  margin: 0;
  padding: 0;
}

.BookWorkshop{
position: relative;
  right: -50px;
}

.d2{
  background-color:#644C4C;
}

.FooterText{
  color: white;
  font-size: 1rem;
}
.FooterLinks{
  color: white;
}